body {
    background-color: rgba(0, 0, 0, 0.637);
}
.titulos {
    color: red;
    text-align: center;
    font-size:  30px;
}
.fetch {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    text-align: center;
    }